:root {
    /* Primary */
    --blue950: 240 38% 20%;
    --gray400: 240 18% 77%;
    --white: 0 0% 100%;
    --black: 0 0% 0%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    position: relative;
    padding: 50px 50px;
    font-family: "Inter", sans-serif;
}

.curve-pattern {
    position: absolute;
    left: 0;
    bottom: 0;
}

main {
    width: 100%;
    max-width: 1000px;
    height: 500px;
    display: flex;
    position: relative;

    & > .quotes {
        width: 100%;
        height: 500px;
        position: relative;
        display: grid;
        align-items: center;

        & > .quote {
            width: 100%;
            max-width: 560px;
            position: absolute;
            height: fit-content;
            display: grid;
            align-content: center;
            transition: opacity 1.5s;
            z-index: 2;

            & > h1 {
                font-size: clamp(23px, 1.2vw + 19px, 32px);
                font-weight: 300;
                color: hsl(var(--blue950));
                margin-bottom: 30px;
            }

            & > .user {
                display: flex;
                gap: 10px;

                & > .name {
                    color: hsl(var(--blue950));
                    font-weight: 800;
                }

                & > .role {
                    color: hsl(var(--gray400));
                    font-weight: 500;
                }
            }

            & > img {
                position: absolute;
                top: -70px;
                left: 80px;
            }

            &.hide {
                opacity: 0;
            }
            &.show {
                opacity: 1;
            }
        }

        & > .johnQ {
            opacity: 0;
        }
    }

    & > .profile {
        position: absolute;
        width: 50%;
        height: 100%;
        right: 0;
        display: grid;
        place-items: center;

        & > .profile-img {
            position: absolute;
            width: 100%;
            aspect-ratio: 1 / 1;
            z-index: 1;

            & > .img-container {
                height: 100%;
                width: 100%;
                position: relative;
                display: grid;
                place-items: center;
                overflow: hidden;

                & > .slider {
                    position: absolute;
                    width: 200%;
                    height: 100%;
                    display: grid;
                    gap: 20px;
                    grid-template-columns: 1fr 1fr;
                    transition: left 1.5s;
                    left: 0;

                    & > img {
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                    }
                }
            }

            & > .buttons {
                width: 80px;
                position: absolute;
                bottom: -15px;
                left: 30px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 15px;
                border-radius: 20px;
                background-color: hsl(var(--white));
                z-index: 3;
                box-shadow: 0 5px 20px -10px hsl(var(--black));

                & > button {
                    width: 13px;
                    height: 18px;
                    border: none;
                    outline: none;
                    background-color: transparent;
                    cursor: pointer;
                }
            }
        }

        & > .pattern {
            width: 120%;
            height: fit-content;
            aspect-ratio: 1 / 1;
            position: absolute;
            z-index: 0;
        }
    }
}

@media screen and (max-width: 950px) {
    body {
        place-items: unset;
        justify-items: center;
        padding: 100px 20px;
        overflow-x: hidden;
    }

    main {
        flex-direction: column-reverse;
        height: fit-content;
        align-items: center;

        & > .quotes {
            justify-items: center;

            & > .quote {
                text-align: center;

                & > .user {
                    display: grid;
                }

                & > img {
                    width: 70px;
                    height: 58px;
                    top: -30px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        & > .profile {
            position: relative;
            top: 0;

            width: 100%;
            max-width: 450px;
            aspect-ratio: 1 / 1;
            height: unset;

            & > .profile-img {
                & > .buttons {
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
}

@media screen and (max-width: 610px) {
    .curve-pattern {
        width: 95%;
    }
}
